In [2]:
import pandas as pd

In [5]:
data1=pd.read_excel('invoice_fact_table.xlsx')

In [6]:
print(data1)

      ORDERNUMBER PRODUCTCODE              CUSTOMERNAME  COUNTRY  DATE_ID  \
0           10107    S10_1678         Land of Toys Inc.      USA        1
1           10121    S10_1678        Reims Collectables   France        2
2           10134    S10_1678           Lyon Souveniers   France        3
3           10145    S10_1678         Toys4GrownUps.com      USA        4
4           10159    S10_1678  Corporate Gift Ideas Co.      USA        5
...           ...         ...                       ...      ...      ...
2818        10350    S72_3212     Euro Shopping Channel    Spain       83
2819        10373    S72_3212   Oulu Toy Supplies, Inc.  Finland       85
2820        10386    S72_3212     Euro Shopping Channel    Spain      197
2821        10397    S72_3212              Alpha Cognac   France      251
2822        10414    S72_3212         Gifts4AllAges.com      USA       89

      QUANTITYORDERED  PRICEEACH    SALES  ORDERLINENUMBER PAYMENT_METHOD
0                  30      95.70  2871.00                2    Credit Card
1                  34      81.35  2765.90                5    Credit Card
2                  41      94.74  3884.34                2    Credit Card
3                  45      83.26  3746.70                6    Credit Card
4                  49     100.00  5205.27               14           Cash
...               ...        ...      ...              ...            ...
2818               20     100.00  2244.40               15           Cash
2819               29     100.00  3978.51                1    Credit Card
2820               43     100.00  5417.57                4    Credit Card
2821               34      62.24  2116.16                1           Cash
2822               47      65.52  3079.44                9    Credit Card

[2823 rows x 10 columns]

In [7]:
data1.head(10)

,ORDERNUMBER,PRODUCTCODE,CUSTOMERNAME,COUNTRY,DATE_ID,QUANTITYORDERED,PRICEEACH,SALES,ORDERLINENUMBER,PAYMENT_METHOD
0,10107,S10_1678,Land of Toys Inc.,USA,1,30,95.70,2871.00,2,Credit Card
1,10121,S10_1678,Reims Collectables,France,2,34,81.35,2765.90,5,Credit Card
2,10134,S10_1678,Lyon Souveniers,France,3,41,94.74,3884.34,2,Credit Card
3,10145,S10_1678,Toys4GrownUps.com,USA,4,45,83.26,3746.70,6,Credit Card
4,10159,S10_1678,Corporate Gift Ideas Co.,USA,5,49,100.00,5205.27,14,Cash
5,10168,S10_1678,Technics Stores Inc.,USA,6,36,96.66,3479.76,1,Cash
6,10180,S10_1678,Daedalus Designs Imports,France,7,29,86.13,2497.77,9,Cash
7,10188,S10_1678,Herkku Gifts,Norway,8,48,100.00,5512.32,1,Credit Card
8,10201,S10_1678,Mini Wheels Co.,USA,9,22,98.57,2168.54,2,Credit Card
9,10211,S10_1678,Auto Canal Petit,France,10,41,100.00,4708.44,14,Credit Card

In [10]:
data1.COUNTRY.value_counts()

COUNTRY
USA            1004
Spain           342
France          314
Australia       185
UK              144
Italy           113
Finland          92
Norway           85
Singapore        79
Canada           70
Denmark          63
Germany          62
Sweden           57
Austria          55
Japan            52
Belgium          33
Switzerland      31
Philippines      26
Ireland          16
Name: count, dtype: int64

In [11]:
data1.COUNTRY.unique()

array(['USA', 'France', 'Norway', 'Australia', 'Finland', 'Austria', 'UK',
       'Spain', 'Sweden', 'Singapore', 'Canada', 'Japan', 'Italy',
       'Denmark', 'Belgium', 'Philippines', 'Germany', 'Switzerland',
       'Ireland'], dtype=object)

In [12]:
data1.isnull()

,ORDERNUMBER,PRODUCTCODE,CUSTOMERNAME,COUNTRY,DATE_ID,QUANTITYORDERED,PRICEEACH,SALES,ORDERLINENUMBER,PAYMENT_METHOD
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
2818,False,False,False,False,False,False,False,False,False,False
2819,False,False,False,False,False,False,False,False,False,False
2820,False,False,False,False,False,False,False,False,False,False
2821,False,False,False,False,False,False,False,False,False,False
2822,False,False,False,False,False,False,False,False,False,False

In [13]:
data1.isnull().sum()

ORDERNUMBER        0
PRODUCTCODE        0
CUSTOMERNAME       0
COUNTRY            0
DATE_ID            0
QUANTITYORDERED    0
PRICEEACH          0
SALES              0
ORDERLINENUMBER    0
PAYMENT_METHOD     0
dtype: int64

In [19]:
df1=data1

In [20]:
df1.tail()

,ORDERNUMBER,PRODUCTCODE,CUSTOMERNAME,COUNTRY,DATE_ID,QUANTITYORDERED,PRICEEACH,SALES,ORDERLINENUMBER,PAYMENT_METHOD
2818,10350,S72_3212,Euro Shopping Channel,Spain,83,20,100.00,2244.40,15,Cash
2819,10373,S72_3212,"Oulu Toy Supplies, Inc.",Finland,85,29,100.00,3978.51,1,Credit Card
2820,10386,S72_3212,Euro Shopping Channel,Spain,197,43,100.00,5417.57,4,Credit Card
2821,10397,S72_3212,Alpha Cognac,France,251,34,62.24,2116.16,1,Cash
2822,10414,S72_3212,Gifts4AllAges.com,USA,89,47,65.52,3079.44,9,Credit Card

In [21]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ORDERNUMBER      2823 non-null   int64
 1   PRODUCTCODE      2823 non-null   object
 2   CUSTOMERNAME     2823 non-null   object
 3   COUNTRY          2823 non-null   object
 4   DATE_ID          2823 non-null   int64
 5   QUANTITYORDERED  2823 non-null   int64
 6   PRICEEACH        2823 non-null   float64
 7   SALES            2823 non-null   float64
 8   ORDERLINENUMBER  2823 non-null   int64
 9   PAYMENT_METHOD   2823 non-null   object
dtypes: float64(2), int64(4), object(4)
memory usage: 220.7+ KB

In [22]:
df1.describe()

,ORDERNUMBER,DATE_ID,QUANTITYORDERED,PRICEEACH,SALES,ORDERLINENUMBER
count,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000
mean,10258.725115,106.357067,35.092809,83.658544,3553.889072,6.466171
std,92.085478,65.229085,9.741443,20.174277,1841.865106,4.225841
min,10100.000000,1.000000,6.000000,26.880000,482.130000,1.000000
25%,10180.000000,50.000000,27.000000,68.860000,2203.430000,3.000000
50%,10262.000000,101.000000,35.000000,95.700000,3184.800000,6.000000
75%,10333.500000,160.000000,43.000000,100.000000,4508.000000,9.000000
max,10425.000000,252.000000,97.000000,100.000000,14082.800000,18.000000

In [23]:
df1.shape

(2823, 10)

In [24]:
df1.dtypes

ORDERNUMBER          int64
PRODUCTCODE         object
CUSTOMERNAME        object
COUNTRY             object
DATE_ID              int64
QUANTITYORDERED      int64
PRICEEACH          float64
SALES              float64
ORDERLINENUMBER      int64
PAYMENT_METHOD      object
dtype: object

In [25]:
df1.columns

Index(['ORDERNUMBER', 'PRODUCTCODE', 'CUSTOMERNAME', 'COUNTRY', 'DATE_ID',
       'QUANTITYORDERED', 'PRICEEACH', 'SALES', 'ORDERLINENUMBER',
       'PAYMENT_METHOD'],
      dtype='object')

In [28]:
df1.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2818    False
2819    False
2820    False
2821    False
2822    False
Length: 2823, dtype: bool

In [29]:
df1.duplicated().sum()

0

In [30]:
df1.COUNTRY.value_counts()

COUNTRY
USA            1004
Spain           342
France          314
Australia       185
UK              144
Italy           113
Finland          92
Norway           85
Singapore        79
Canada           70
Denmark          63
Germany          62
Sweden           57
Austria          55
Japan            52
Belgium          33
Switzerland      31
Philippines      26
Ireland          16
Name: count, dtype: int64

country_dimension

In [37]:
data2=pd.read_excel('country_dimension.xlsx')

In [38]:
print(data2)

        COUNTRY      TERRITORY CURRENCY
0           USA  North America      USD
1        France         Europe      EUR
2        Norway         Europe      NOK
3     Australia           APAC      AUD
4       Finland         Europe      EUR
5       Austria         Europe      EUR
6            UK         Europe      GBP
7         Spain         Europe      EUR
8        Sweden         Europe      SEK
9     Singapore           APAC      SGD
10       Canada  North America      USD
11        Japan           APAC      JPY
12        Italy         Europe      EUR
13      Denmark         Europe      DKK
14      Belgium         Europe      EUR
15    Singapore           APAC      SGD
16  Philippines           APAC      PHP
17      Germany         Europe      EUR
18  Switzerland         Europe      CHF
19      Ireland         Europe      EUR

In [39]:
data2.head(10)

     COUNTRY      TERRITORY CURRENCY
0        USA  North America      USD
1     France         Europe      EUR
2     Norway         Europe      NOK
3  Australia           APAC      AUD
4    Finland         Europe      EUR
5    Austria         Europe      EUR
6         UK         Europe      GBP
7      Spain         Europe      EUR
8     Sweden         Europe      SEK
9  Singapore           APAC      SGD

In [41]:
data2.TERRITORY.value_counts()

TERRITORY
Europe           13
APAC              5
North America     2
Name: count, dtype: int64

In [42]:
data2.CURRENCY.unique()

array(['USD', 'EUR', 'NOK', 'AUD', 'GBP', 'SEK', 'SGD', 'JPY', 'DKK',
       'PHP', 'CHF'], dtype=object)

In [43]:
data2.isnull()

    COUNTRY  TERRITORY  CURRENCY
0     False      False     False
1     False      False     False
2     False      False     False
3     False      False     False
4     False      False     False
5     False      False     False
6     False      False     False
7     False      False     False
8     False      False     False
9     False      False     False
10    False      False     False
11    False      False     False
12    False      False     False
13    False      False     False
14    False      False     False
15    False      False     False
16    False      False     False
17    False      False     False
18    False      False     False
19    False      False     False

In [44]:
data2.isnull().sum()

COUNTRY      0
TERRITORY    0
CURRENCY     0
dtype: int64

In [45]:
df2=data2

In [46]:
df2.tail()

        COUNTRY TERRITORY CURRENCY
15    Singapore      APAC      SGD
16  Philippines      APAC      PHP
17      Germany    Europe      EUR
18  Switzerland    Europe      CHF
19      Ireland    Europe      EUR

In [47]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   COUNTRY    20 non-null     object
 1   TERRITORY  20 non-null     object
 2   CURRENCY   20 non-null     object
dtypes: object(3)
memory usage: 612.0+ bytes

In [49]:
df2.describe()

          COUNTRY TERRITORY CURRENCY
count          20        20       20
unique         19         3       11
top     Singapore    Europe      EUR
freq            2        13        8

In [50]:
df2.shape

(20, 3)

In [51]:
df2.dtypes

COUNTRY      object
TERRITORY    object
CURRENCY     object
dtype: object

In [52]:
df2.columns

Index(['COUNTRY', 'TERRITORY', 'CURRENCY'], dtype='object')

In [53]:
df2.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
dtype: bool

In [54]:
df2.duplicated().sum()

1

In [56]:
df2.TERRITORY.value_counts()

TERRITORY
Europe           13
APAC              5
North America     2
Name: count, dtype: int64

customer_dimension

In [57]:
data3=pd.read_excel('/content/customer_dimension.xlsx')

In [58]:
print(data3)

                          CUSTOMERNAME CONTACTFIRSTNAME CONTACTLASTNAME  \
0                    Land of Toys Inc.             Kwai              Yu
1                   Reims Collectables             Paul         Henriot
2                      Lyon Souveniers           Daniel        Da Cunha
3                    Toys4GrownUps.com            Julie           Young
4             Corporate Gift Ideas Co.            Julie           Brown
..                                 ...              ...             ...
87        Australian Collectables, Ltd             Sean         Connery
88                    Gift Ideas Corp.              Dan           Lewis
89  Bavarian Collectables Imports, Co.          Michael     Donnermeyer
90                        Royale Belge          Pascale        Cartrain
91             Auto-Moto Classics Inc.           Leslie          Taylor

                PHONE                   ADDRESSLINE1 ADDRESSLINE2  \
0          2125557818        897 Long Airport Avenue          NaN
1          26.47.1555             59 rue de l'Abbaye          NaN
2    +33 1 46 62 7555  27 rue du Colonel Pierre Avia          NaN
3          6265557265             78934 Hillside Dr.          NaN
4          6505551386                7734 Strong St.          NaN
..                ...                            ...          ...
87     61-9-3844-6555                 7 Allen Street          NaN
88         2035554407               2440 Pompton St.          NaN
89  +49 89 61 08 9555                   Hansastr. 15          NaN
90   (071) 23 67 2555           Boulevard Tirou, 255          NaN
91         6175558428              16780 Pompton St.          NaN

             CITY     STATE POSTALCODE FIRST_PURCHASE_DATE
0             NYC        NY      10022          2003-02-24
1           Reims       NaN      51100          2003-05-07
2           Paris       NaN      75508          2003-07-01
3        Pasadena        CA      90003          2003-08-25
4   San Francisco        CA        NaN          2003-10-10
..            ...       ...        ...                 ...
87   Glen Waverly  Victoria       3150          2003-11-21
88       Glendale        CT      97561          2003-06-16
89         Munich       NaN      80686          2004-09-15
90      Charleroi       NaN     B-6000          2003-04-11
91     Brickhaven        MA      58339          2003-06-16

[92 rows x 10 columns]

In [59]:
data3.head(10)

,CUSTOMERNAME,CONTACTFIRSTNAME,CONTACTLASTNAME,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,FIRST_PURCHASE_DATE
0,Land of Toys Inc.,Kwai,Yu,2125557818,897 Long Airport Avenue,NaN,NYC,NY,10022,2003-02-24
1,Reims Collectables,Paul,Henriot,26.47.1555,59 rue de l'Abbaye,NaN,Reims,NaN,51100,2003-05-07
2,Lyon Souveniers,Daniel,Da Cunha,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,2003-07-01
3,Toys4GrownUps.com,Julie,Young,6265557265,78934 Hillside Dr.,NaN,Pasadena,CA,90003,2003-08-25
4,Corporate Gift Ideas Co.,Julie,Brown,6505551386,7734 Strong St.,NaN,San Francisco,CA,NaN,2003-10-10
5,Technics Stores Inc.,Juri,Hirano,6505556809,9408 Furth Circle,NaN,Burlingame,CA,94217,2003-07-24
6,Daedalus Designs Imports,Martine,Rance,20.16.1555,"184, chausse de Tournai",NaN,Lille,NaN,59000,2003-11-11
7,Herkku Gifts,Veysel,Oeztan,+47 2267 3215,"Drammen 121, PR 744 Sentrum",NaN,Bergen,NaN,N 5804,2003-11-12
8,Mini Wheels Co.,Julie,Murphy,6505555787,5557 North Pendale Street,NaN,San Francisco,CA,NaN,2003-03-25
9,Auto Canal Petit,Dominique,Perrier,(1) 47.55.6555,"25, rue Lauriston",NaN,Paris,NaN,75016,2004-01-15

In [60]:
data3.CITY.value_counts()

CITY
NYC           5
Brickhaven    3
Madrid        3
Paris         3
Singapore     2
             ..
Nashua        1
Reims         1
Montreal      1
Osaka         1
Charleroi     1
Name: count, Length: 73, dtype: int64

In [62]:
data3.CITY.unique()

array(['NYC', 'Reims', 'Paris', 'Pasadena', 'San Francisco', 'Burlingame',
       'Lille', 'Bergen', 'Melbourne', 'Newark', 'Bridgewater', 'Nantes',
       'Cambridge', 'Helsinki', 'Stavern', 'Allentown', 'Salzburg',
       'Chatswood', 'New Bedford', 'Liverpool', 'Madrid', 'Lule',
       'Singapore', 'South Brisbane', 'Philadelphia', 'Lyon', 'Vancouver',
       'Burbank', 'New Haven', 'Minato-ku', 'Torino', 'Boras',
       'Versailles', 'San Rafael', 'Nashua', 'Brickhaven', 'North Sydney',
       'Montreal', 'Osaka', 'White Plains', 'Kobenhavn', 'London',
       'Toulouse', 'Barcelona', 'Los Angeles', 'San Diego', 'Bruxelles',
       'Tsawassen', 'Boston', 'Cowes', 'Oulu', 'San Jose', 'Graz',
       'Makati City', 'Marseille', 'Koln', 'Gensve', 'Reggio Emilia',
       'Frankfurt', 'Espoo', 'Dublin', 'Manchester', 'Aaarhus',
       'Glendale', 'Sevilla', 'Brisbane', 'Strasbourg', 'Las Vegas',
       'Oslo', 'Bergamo', 'Glen Waverly', 'Munich', 'Charleroi'],
      dtype=object)

In [63]:
data3.isnull()

,CUSTOMERNAME,CONTACTFIRSTNAME,CONTACTLASTNAME,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,FIRST_PURCHASE_DATE
0,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,True,False,True,False,False
2,False,False,False,False,False,True,False,True,False,False
3,False,False,False,False,False,True,False,False,False,False
4,False,False,False,False,False,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...
87,False,False,False,False,False,True,False,False,False,False
88,False,False,False,False,False,True,False,False,False,False
89,False,False,False,False,False,True,False,True,False,False
90,False,False,False,False,False,True,False,True,False,False
91,False,False,False,False,False,True,False,False,False,False

In [64]:
data3.isnull().sum()

CUSTOMERNAME            0
CONTACTFIRSTNAME        0
CONTACTLASTNAME         0
PHONE                   0
ADDRESSLINE1            0
ADDRESSLINE2           83
CITY                    0
STATE                  46
POSTALCODE              3
FIRST_PURCHASE_DATE     0
dtype: int64

In [65]:
df3=data3

In [66]:
df3.tail()

,CUSTOMERNAME,CONTACTFIRSTNAME,CONTACTLASTNAME,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,FIRST_PURCHASE_DATE
87,"Australian Collectables, Ltd",Sean,Connery,61-9-3844-6555,7 Allen Street,NaN,Glen Waverly,Victoria,3150,2003-11-21
88,Gift Ideas Corp.,Dan,Lewis,2035554407,2440 Pompton St.,NaN,Glendale,CT,97561,2003-06-16
89,"Bavarian Collectables Imports, Co.",Michael,Donnermeyer,+49 89 61 08 9555,Hansastr. 15,NaN,Munich,NaN,80686,2004-09-15
90,Royale Belge,Pascale,Cartrain,(071) 23 67 2555,"Boulevard Tirou, 255",NaN,Charleroi,NaN,B-6000,2003-04-11
91,Auto-Moto Classics Inc.,Leslie,Taylor,6175558428,16780 Pompton St.,NaN,Brickhaven,MA,58339,2003-06-16

In [67]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CUSTOMERNAME         92 non-null     object
 1   CONTACTFIRSTNAME     92 non-null     object
 2   CONTACTLASTNAME      92 non-null     object
 3   PHONE                92 non-null     object
 4   ADDRESSLINE1         92 non-null     object
 5   ADDRESSLINE2         9 non-null      object
 6   CITY                 92 non-null     object
 7   STATE                46 non-null     object
 8   POSTALCODE           89 non-null     object
 9   FIRST_PURCHASE_DATE  92 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(9)
memory usage: 7.3+ KB

In [68]:
df3.describe()

                 FIRST_PURCHASE_DATE
count                             92
mean   2003-09-27 12:31:18.260869504
min              2003-01-06 00:00:00
25%              2003-05-17 00:00:00
50%              2003-10-08 00:00:00
75%              2003-12-17 12:00:00
max              2004-09-15 00:00:00

In [69]:
df3.shape

(92, 10)

In [70]:
df3.dtypes

CUSTOMERNAME                   object
CONTACTFIRSTNAME               object
CONTACTLASTNAME                object
PHONE                          object
ADDRESSLINE1                   object
ADDRESSLINE2                   object
CITY                           object
STATE                          object
POSTALCODE                     object
FIRST_PURCHASE_DATE    datetime64[ns]
dtype: object

In [71]:
df3.columns

Index(['CUSTOMERNAME', 'CONTACTFIRSTNAME', 'CONTACTLASTNAME', 'PHONE',
       'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE',
       'FIRST_PURCHASE_DATE'],
      dtype='object')

In [72]:
df3.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
87    False
88    False
89    False
90    False
91    False
Length: 92, dtype: bool

In [73]:
df3.duplicated().sum()

0

In [74]:
df3.CITY.value_counts()

CITY
NYC           5
Brickhaven    3
Madrid        3
Paris         3
Singapore     2
             ..
Nashua        1
Reims         1
Montreal      1
Osaka         1
Charleroi     1
Name: count, Length: 73, dtype: int64

date_dimension

In [75]:
data4=pd.read_excel('date_dimension.xlsx')

In [77]:
print(data4)

     ORDERDATE DAY_TYPE  MONTH  QUARTER  YEAR  DATE_ID
0   2003-02-24  Weekday      2        1  2003        1
1   2003-05-07  Weekday      5        2  2003        2
2   2003-07-01  Weekday      7        3  2003        3
3   2003-08-25  Weekday      8        3  2003        4
4   2003-10-10  Weekday     10        4  2003        5
..         ...      ...    ...      ...   ...      ...
247 2003-04-11  Weekday      4        2  2003      248
248 2003-08-13  Weekday      8        3  2003      249
249 2003-10-08  Weekday     10        4  2003      250
250 2005-03-28  Weekday      3        1  2005      251
251 2003-04-21  Weekday      4        2  2003      252

[252 rows x 6 columns]

In [78]:
data4.head(10)

   ORDERDATE DAY_TYPE  MONTH  QUARTER  YEAR  DATE_ID
0 2003-02-24  Weekday      2        1  2003        1
1 2003-05-07  Weekday      5        2  2003        2
2 2003-07-01  Weekday      7        3  2003        3
3 2003-08-25  Weekday      8        3  2003        4
4 2003-10-10  Weekday     10        4  2003        5
5 2003-10-28  Weekday     10        4  2003        6
6 2003-11-11  Weekday     11        4  2003        7
7 2003-11-18  Weekday     11        4  2003        8
8 2003-12-01  Weekday     12        4  2003        9
9 2004-01-15  Weekday      1        1  2004       10

In [80]:
data4.DATE_ID.value_counts()

DATE_ID
1      1
174    1
161    1
162    1
163    1
      ..
89     1
90     1
91     1
92     1
252    1
Name: count, Length: 252, dtype: int64

In [82]:
data4.YEAR.unique()

array([2003, 2004, 2005])

In [83]:
data4.isnull()

     ORDERDATE  DAY_TYPE  MONTH  QUARTER   YEAR  DATE_ID
0        False     False  False    False  False    False
1        False     False  False    False  False    False
2        False     False  False    False  False    False
3        False     False  False    False  False    False
4        False     False  False    False  False    False
..         ...       ...    ...      ...    ...      ...
247      False     False  False    False  False    False
248      False     False  False    False  False    False
249      False     False  False    False  False    False
250      False     False  False    False  False    False
251      False     False  False    False  False    False

[252 rows x 6 columns]

In [84]:
data4.isnull().sum()

ORDERDATE    0
DAY_TYPE     0
MONTH        0
QUARTER      0
YEAR         0
DATE_ID      0
dtype: int64

In [86]:
df4=data4

In [87]:
df4.tail()

     ORDERDATE DAY_TYPE  MONTH  QUARTER  YEAR  DATE_ID
247 2003-04-11  Weekday      4        2  2003      248
248 2003-08-13  Weekday      8        3  2003      249
249 2003-10-08  Weekday     10        4  2003      250
250 2005-03-28  Weekday      3        1  2005      251
251 2003-04-21  Weekday      4        2  2003      252

In [88]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ORDERDATE  252 non-null    datetime64[ns]
 1   DAY_TYPE   252 non-null    object
 2   MONTH      252 non-null    int64
 3   QUARTER    252 non-null    int64
 4   YEAR       252 non-null    int64
 5   DATE_ID    252 non-null    int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 11.9+ KB

In [89]:
df4.describe()

,ORDERDATE,MONTH,QUARTER,YEAR,DATE_ID
count,252,252.000000,252.000000,252.000000,252.000000
mean,2004-05-07 01:48:34.285714304,6.420635,2.492063,2003.861111,126.500000
min,2003-01-06 00:00:00,1.000000,1.000000,2003.000000,1.000000
25%,2003-10-26 18:00:00,3.000000,1.000000,2003.000000,63.750000
50%,2004-05-29 00:00:00,6.000000,2.000000,2004.000000,126.500000
75%,2004-11-22 06:00:00,10.000000,4.000000,2004.000000,189.250000
max,2005-05-31 00:00:00,12.000000,4.000000,2005.000000,252.000000
std,NaN,3.595821,1.179142,0.720057,72.890329

In [90]:
df4.shape

(252, 6)

In [91]:
df4.dtypes

ORDERDATE    datetime64[ns]
DAY_TYPE             object
MONTH                 int64
QUARTER               int64
YEAR                  int64
DATE_ID               int64
dtype: object

In [92]:
df4.columns

Index(['ORDERDATE', 'DAY_TYPE', 'MONTH', 'QUARTER', 'YEAR', 'DATE_ID'], dtype='object')

In [93]:
df4.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
247    False
248    False
249    False
250    False
251    False
Length: 252, dtype: bool

product_dimension.xlsx

In [94]:
data5=pd.read_excel('product_dimension.xlsx')

In [95]:
print(data5)

    PRODUCTCODE   PRODUCTLINE  MSRP
0      S10_1678   Motorcycles    95
1      S10_1949  Classic Cars   214
2      S10_2016   Motorcycles   118
3      S10_4698   Motorcycles   193
4      S10_4757  Classic Cars   136
..          ...           ...   ...
104   S700_3505         Ships   100
105   S700_3962         Ships    99
106   S700_4002        Planes    74
107    S72_1253        Planes    49
108    S72_3212         Ships    54

[109 rows x 3 columns]

In [96]:
data5.head(10)

  PRODUCTCODE       PRODUCTLINE  MSRP
0    S10_1678       Motorcycles    95
1    S10_1949      Classic Cars   214
2    S10_2016       Motorcycles   118
3    S10_4698       Motorcycles   193
4    S10_4757      Classic Cars   136
5    S10_4962      Classic Cars   147
6    S12_1099      Classic Cars   194
7    S12_1108      Classic Cars   207
8    S12_1666  Trucks and Buses   136
9    S12_2823       Motorcycles   150

In [98]:
data5.PRODUCTLINE.value_counts()

PRODUCTLINE
Classic Cars        37
Vintage Cars        24
Motorcycles         13
Planes              12
Trucks and Buses    11
Ships                9
Trains               3
Name: count, dtype: int64

In [99]:
data5.PRODUCTLINE.unique()

array(['Motorcycles', 'Classic Cars', 'Trucks and Buses', 'Vintage Cars',
       'Planes', 'Ships', 'Trains'], dtype=object)

In [100]:
data5.isnull()

     PRODUCTCODE  PRODUCTLINE   MSRP
0          False        False  False
1          False        False  False
2          False        False  False
3          False        False  False
4          False        False  False
..           ...          ...    ...
104        False        False  False
105        False        False  False
106        False        False  False
107        False        False  False
108        False        False  False

[109 rows x 3 columns]

In [101]:
data5.isnull().sum()

PRODUCTCODE    0
PRODUCTLINE    0
MSRP           0
dtype: int64

In [102]:
df5=data5

In [103]:
df5.tail()

    PRODUCTCODE PRODUCTLINE  MSRP
104   S700_3505       Ships   100
105   S700_3962       Ships    99
106   S700_4002      Planes    74
107    S72_1253      Planes    49
108    S72_3212       Ships    54

In [104]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PRODUCTCODE  109 non-null    object
 1   PRODUCTLINE  109 non-null    object
 2   MSRP         109 non-null    int64
dtypes: int64(1), object(2)
memory usage: 2.7+ KB

In [105]:
df5.describe()

             MSRP
count  109.000000
mean    99.899083
std     39.824603
min     33.000000
25%     68.000000
50%     97.000000
75%    122.000000
max    214.000000

In [106]:
df5.shape

(109, 3)

In [107]:
df5.dtypes

PRODUCTCODE    object
PRODUCTLINE    object
MSRP            int64
dtype: object

In [108]:
df5.columns

Index(['PRODUCTCODE', 'PRODUCTLINE', 'MSRP'], dtype='object')

In [109]:
df5.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
104    False
105    False
106    False
107    False
108    False
Length: 109, dtype: bool

In [110]:
df5.duplicated().sum()

0